<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <jmxConfigurator/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <param name="target" value="System.out"/>
    </appender>

    <appender name="STDOUT_ERROR" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <param name="target" value="System.err"/>
    </appender>


    <appender name="CRAWLER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.root}/crawler.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <MaxHistory>15</MaxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <logger name="com.iprogi.crawler" level="INFO" additivity="false">
        <appender-ref ref="CRAWLER"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDOUT_ERROR"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDOUT_ERROR"/>
    </root>

</configuration>
